@import "../../index.scss";

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.background {
  @include rotate;
  width: 90vw;
  height: 1100px;
  background-color: $purple;
  top: -20px;
  right: 3vw;
}

.main-grid {
  max-width: 1500px;
  margin-top: 250px;
  padding: 0 30px;
  display: grid;
  grid-template: repeat(2, auto) / 45% 30%;
  grid-gap: 0 200px;
  justify-content: center;
}

.main-heading {
  @include textWhite
}

.main-heading-span {
  color: $green;
}

.main-text {
  @include textWhite($size: 24px)
}

.main-link {
  @include display($justify: flex-start);
  font-size: 17px;
  color: $green;
}

.main-link div {
  margin-right: 5px;
}

@media (max-width: 1600px){
  .background {
    height: 900px;
  }
  .main-grid {
    max-width: 1000px;
    grid-template: repeat(2, auto) / 40% 40%;
  }

  .main-heading {
    font-size: 45px;
  }

  .main-text {
    font-size: 19px;
  }
}

@media (max-width: 1200px){
  .background {
    height: 900px;
  }
  .main-grid {
    max-width: 700px;
    margin-top: 180px;
    grid-gap: 0 100px;
  }
  .main-heading {
    font-size: 36px;
  }
  .main-text {
    font-size: 18px;
  }
}

@media (max-width: 824px){
  .main {
    overflow-x: hidden;
  }
  .background {
    width: 1000px;
    height: 1400px;
    top: -20px;
    right: -15vw;
  }
  .main-grid {
    max-width: 90%;
    padding: 0 5%;
    grid-template: repeat(3, auto) / 400px;
    grid-gap: 60px 0;
  }
}

@media (max-width: 524px){
  .main-grid {
    grid-template: repeat(3, auto) / 280px;
  }
  .main-heading {
    font-size: 28px;
  }
}
